{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My schedule{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="Agregar asignatura">Agregar asignatura</label>
    <select name="subject" id="subject">
      {% for subject in subjects %}
          <option value="{{ subject['id'] }}">{{ subject['name_s'].capitalize() }}</option>
      {% endfor %}  
  </select>
  <input type="submit" value="Agregar">
  </form>
  <ul>
    {% for sch in schedules %}
      <li>{{ sch['name_s']}}</li>
      
    {% endfor %}
  </ul>
  
  {{ schedules }}
{% endblock %}