{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My schedule{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
    <a class="action" href="{{ url_for('userspace.profile') }}">Profile</a>
    <a class="action" href="{{ url_for('userspace.addSubject') }}">Ingresar asignatura</a>
  {% endif %}
{% endblock %}

{% block content %}
  <!-- <form method="post">
    <div>
      <label for="Agregar asignatura">Agregar asignatura</label>
        <select name="subject" id="subject">
          {% for subject in subjects %}
              <option value="{{ subject['id'] }}">{{ subject['name_s'].capitalize() }}</option>
          {% endfor %}  
      </select>
    <input type="button" value="Mostrar Grupos" onclick="{{ mysub }}">  
    </div>
    <div>
      <label for="Eliga un grupo">Elegir grupo</label>
      <select name="group" id="group">
        {% for group in groups %}
            <option value="{{ group['id'] }}">{{ group['name_g'].capitalize() }}</option>
        {% endfor %}  
      </select>
    <input type="submit" value="Agregar">
    </div>
  </form> -->
  <div id="addSubjForms">
    <form method="post" id="asignatura">
      <label for="Agregar asignatura">Agregar asignatura</label>
      <select name="subject" id="subject">
          {% for subject in subjects %}
              <option value="{{ subject['id'] }}">{{ subject['name_s'].capitalize() }}</option>
          {% endfor %}  
      </select>

  <input type="submit" name="subject" value="Mostrar Grupos" >  

  </form>

  </div>

  <div class="wrapper">
    <div class="cols">
        <div class="col">
          <ul>
              {% for sch in schedules %}
              <div class="container">
                  <div class="front" style="">
                      <p><li>{{ sch['name_s']}}</li></p>
                  </div>
              </div>
              {% endfor %}
          </ul>
        </div>
    </div>
</div>
  
{% endblock %}

<!-- <form method="post" id="asignatura">
  <label for="Agregar asignatura">Agregar asignatura</label>
  <select name="subject" id="subject">
    {% for subject in subjects %}
        <option value="{{ subject['id'] }}">{{ subject['name_s'].capitalize() }}</option>
    {% endfor %}  
  </select>
  
  <input type="submit" value="Mostrar Grupos">  

</form>

<form method="post" id="grupo">
  <label for="Eliga un grupo">Elegir grupo</label>
  <select name="group" id="group">
    {% for group in groups %}
        <option value="{{ group['id'] }}">{{ group['name_g'].capitalize() }}</option>
    {% endfor %}  
  </select>

  <input type="submit" value="Agregar">

</form> -->