{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My schedule{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
    <a class="action" href="{{ url_for('userspace.profile') }}">Profile</a>
    <a class="action" href="{{ url_for('userspace.addSubject') }}">Ingresar asignatura</a>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <label for="Agregar asignatura">Agregar asignatura</label>
    <select name="subject" id="subject">
      {% for subject in subjects %}
          <option value="{{ subject['id'] }}">{{ subject['name_s'].capitalize() }}</option>
      {% endfor %}  
    </select>
    <select name="group" id="group">
      {% for group in groups %}
          <option value="{{ group['id'] }}">{{ group['name_g'].capitalize() }}</option>
      {% endfor %}  
    </select>
  <input type="submit" value="Agregar">
  </form>
  <ul>
    {% for sch in schedules %}
      <li>{{ sch['name_s']}}</li>
    {% endfor %}
  </ul>
  
{% endblock %}