{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Subject{% endblock %}</h1>
  <a class="action" href="{{ url_for('userspace.schedule') }}">Agregar asignatura</a>
{% endblock %}

{% block content %}
  {% if g.user['rol_id'] == 1 %}
    <form method="post">
      <label for="name_s">Name</label>
      <input name="name_s" id="name_s" value="{{ request.form['name_s'] }}" required>
      <!-- falta crear grupo de asignatura -->
      <input type="submit" value="Save">
    </form>
  {% else %}
  <form method="post">
    <label for="name_s">Name</label>
    <input name="name_s" id="name_s" value="{{ request.form['name_s'] }}" required>
    <!-- falta crear grupo de asignatura -->
    <input type="submit" value="Save">
  </form>
  {% endif %}
  
{% endblock %}